body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fefefe;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #3d78f7;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  max-width: 800px;
  margin: 40px auto;
  /* padding: 0 20px;   */
  border-radius: 15px;
 }

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  margin: 10px 0 0;
  font-size: 1.2em;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  border-bottom: 2px solid #ffd400;
  padding-bottom: 5px;
  color: #222;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background: #fafafa;
  margin: 10px 0;
  padding: 15px;
  border-left: 5px solid #ffd400;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #777;
  background: #f4f4f4;
  margin-top: 40px;
}
